/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.logo {
		width: 135px;
		margin-top: 2px;
}

.hero-call{
	margin-top: 85px;
}

.main {
		height: 400px;
		background: url('../img/clothes.jpg') no-repeat center center fixed;
		background-color: #fff;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

@media only screen and (min-device-width: 600px) {
/* Navbar */

	.logo {
		width: 140px;
		margin-top: 6px;
	}

	.hero-call{
		margin-top: 100px;
	}

	.main {
		height: 400px;
		background: url('../img/clothes.jpg') no-repeat center center fixed;
		background-color: #fff;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
}

@media only screen and (min-device-width: 993px) {

}